<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Forum V1</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
</head>
<body>
    <div> <!--Intro und Erklärung-->
        <section>
    <h1>Simple Forum - by Nico4O4</h1>
    <p>Using FastAPI, HTMX, HTML, and jinja2</p>
        </section>    
    </div>
    

    <div>   <!--App und Funktionen-->
        <section>
            
            <form hx-post="/todos" hx-target="#todos" hx-swap="innerHTML" hx-on:htmx:after-request="this.reset()">
                
                <textarea rows="30" cols="90" name="todo">
                
                </textarea>
                <button>Hochladen...</button>
            
            </form>   
            
            <div id="todos" 
            hx-get="/todos" 
            hx-trigger="load" 
            hx-swap="innerHTML">
        
        </div> 
                    
        </section>
    </div>

</body>
</html> 