<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Forum V1.0</title>
</head>
<body>
    <h5>Username: {{ username_KEY }} </h5>
    <p>Comment: {{ kommentar_user_KEY }} </p>    
    <!--die variable die  genutzt wird als "austauscher"-->
    

</body>
</html>






<!--das ist die datei die die request enthält die vom serverr komme
es ist die "antwort" datei die voll mit html fragmenten ist
ein button klick auf "posten" macht eine hx POST anfragen an diese route
die api führt das aus was in der route steht
es wird nicht die ganze datei ausgeführt auf button klick
sondern nur der betroffene berreich und das sollte die magie von htmx sein-->>